.AddCourse-wrapper{
    width: 78%;
    position: absolute;
    left: 20%;
    top: 12%;
    height: 100vh;
}

.AddCourse-wrapper .course-info-card p{
    color: #888;
}

.AddCourse-wrapper .course-content{
    width: 100%;
    height: 590px;
    background-color: #1c1c1c;
    border-radius: 20px;
}
.AddCourse-wrapper .course-content .progress-info {
    width: 100%;
    height: 78px;
  
}


.AddCourse-wrapper .course-content .progress-info .steps {
    background-color: #ffffffd0; /* Light blue background */
    width: 26px;
    height: 26px;
    color: #000000; /* Bootstrap primary */
    text-align: center;
    font-weight: bold;
    line-height: 26px;
    border-radius: 50%;
    font-size: 14px;
}

.AddCourse-wrapper .course-content .progress-info .progress {
    width: 90%;
    height: 4px;
    margin: auto 5px;
    background-color: #e0e0e0;
}

.AddCourse-wrapper .course-content .progress-info .progress .progress-bar {
    background-color: #00000079;
    height: 4px;
}

.AddCourse-wrapper .course-content .progress-info .step-label {
    margin-top: 5px;
    font-size: 14px;
    color: #6c757d; /* Muted text */
}

.AddCourse-wrapper .course-content .progress-info.active .step-label {
    font-weight: bold;
    background-color: #d6efff;
    color: #000000;
    padding: 2px 4px;
    border-radius: 2px;
}

.AddCourse-wrapper .course-content .course-content-form1 h5{
    margin: 10px 20px 0 20px ;
    
}

.AddCourse-wrapper .course-content .course-content-form1 input{
    border-radius: 15px;
    margin: 10px 20px;
    width: 400px;
    height: 40px;
    padding: 10px 10px;

}
.AddCourse-wrapper .course-content .course-content-form1 textarea{
    border-radius: 15px;
    margin: 10px 20px;
    width: 400px;
    height: 90px;
    padding: 10px 10px;
}

.thumbnail-upload-container {
    margin:0 20px;
  }
  
  
  .thumbnail-upload-box {
    border: 2px solid #f6f6f62c;
    background-color: #f3fbfe;
    color: #000304;
    padding: 8px 20px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }
  
  .thumbnail-upload-box:hover {
    background-color: #e6f7fc;
  }
  
  .thumbnail-upload-box .upload-icon {
    font-size: 18px;
  }
  
  .thumbnail-upload-box input[type="file"] {
    display: none;
  }

  .AddCourse-wrapper .course-content .course-content-form1 .bulb-icon{
    color: yellow;
  }

  .AddCourse-wrapper .course-content .course-content-form1 .input-button-wrapper button{

    border-radius: 15px;
    background: transparent;
    color: white;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.273);

  }
  
