/* Content.css */

.content-wrapper {
    width: 78%;
    position: absolute;
    left: 20%;
    top: 12%;
    height: 100vh;
}

.content-wrapper .article-card {

    padding:15px;
    border-radius: 12px;
    /* margin-bottom: 25px; */
    margin-top: 15px;
    background-color:#1c1c1c;

  }

.content-wrapper button{
    text-transform: capitalize;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
}
.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(4, 4, 4);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    color: white;
}

.modal-container form input{
    width: 300px;
    margin: 10px 0;
    border-radius: 10px;
    padding: 5px;
}

.modal-container form textarea{
    width: 300px;
    margin:10px 0;
    border-radius: 10px;
    padding: 5px;

}